* {
    font-family: 'Antonio', sans-serif;
    color:ghostwhite;
}

body {
    background-color: black;
    padding: 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navleft{
    width: 40%;
}


/* Seach bar styles */
.navright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
input{
    text-align: center;
}
.searchicon{
    width: 40px;
    border-radius: 50%;
}
.triangle{
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}


/* Navlist styles */
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
ul :nth-child(1){
    color:red;
    font-size:xx-large;
}
ul :nth-child(1):hover{
    color:red;
}
li{
    color:rgb(165, 165, 165);
    display: inline-block;
}

li:hover{
    color:rgb(255, 255, 255);
}


/* Anime styles */
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.anime{
    width: 200px;
}
.anime > img{
    width: 100%;
    height: 125px;
}